{{!-- <li>
	{{name}}

	<button class="eatburger" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if sleep}}Devour Burger!{{else}}Sen Burger Back!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> --}}